name: Deploy Image to GHCR

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io
  REPO: charlesjones88/dokploy-runner

jobs:
  deploy:
    runs-on: dokploy-x64
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ${{ env.REGISTRY }}/${{ env.REPO }}:latest,${{ env.REGISTRY }}/${{ env.REPO }}:${{ github.sha }}

      - name: Update image
        env:
          NODES: ${{ vars.NODES }}
          IMAGE: ${{ vars.IMAGE }}
        run: |
          ./prepull.sh
