name: Deploy Image to GHCR

on:
  push:
    branches:
      - main

env:
  REPO: charlesjones88

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{env.REPO }}/dokploy-runner:latest,${{ env.REPO }}/dokploy-runner:${{ github.sha }}